@charset "UTF-8";

.info_box {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.title {
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
}

#book_info, #report_info {
	text-align: center;
	
	width: 80%;
	margin: 0 auto;
	
	border: 2px solid skyblue;
	border-radius: 10px;
}

p.book_name {
	font-weight: bold;
}

p.noReport {
	text-align: center;
}

.button_box {
	text-align: right;
	margin-top: 20px;
}

button.info_button {
	background-color: white;
	padding: 14px 16px;
	margin: 10px;
	
	border: 1px solid skyblue;
	border-radius: 5px;
	color: skyblue;
}

button.info_button:hover {
	color: white;
	background-color: skyblue;
	cursor: pointer;
}