<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.rbooks.repository.BookInfoDao">

	<select id="selectBooksBySrchPage" resultMap="bookInfoResultMap">
		select *
		from
			(select /*+ first_rows_100 */ rownum as num, A.*
			from
				(select /*+ index_desc(tbl_books) first_rows */ *
				from tbl_books
				<where>
					<if test="srch_opt == 'all'">b_code like '%' || #{srch} || '%' OR b_name like '%' || #{srch} || '%'</if>
					<if test="srch_opt == 'isbn'">b_code like '%' || #{srch} || '%'</if>
					<if test="srch_opt == 'b_name'">b_name like '%' || #{srch} || '%'</if>
				</where>
				order by b_name) A
		    where rownum &lt;= #{pageDTO.limit} ) B
		where B.num &gt;= #{pageDTO.offset}
	</select>
	
	<select id="selectByBCodePage" resultMap="RM">
		select BOOK.*, #{pageDTO.offset} as offset, #{pageDTO.limit} as limit
		from tbl_books BOOK WHERE b_code = #{b_code,jdbcType=VARCHAR}
	</select>
	
	<resultMap type="bookInfoDTO" id="RM">
		<result property="b_code" column="b_code"/>
		<collection property="bookReportList" column="{b_code = b_code, offset = offset, limit = limit}" ofType="bookReportDTO" select="selectReportsByPage"/>
	</resultMap>
	
	<select id="selectReportsByPage" resultType="bookReportDTO" parameterType="java.util.Map">
		select *
		from
			(select /*+ first_rows_100 */ rownum as num, A.*
			from
				(select /*+ index_desc(tbl_read_book) first_rows */ *
				from tbl_read_book
				where rb_bcode = #{b_code}
				order by rb_seq) A
		    where rownum &lt;= #{limit} ) B
		where B.num &gt;= #{offset}
	</select>
	
	<resultMap type="bookInfoDTO" id="bookInfoResultMap">
		<id property="b_code" column="b_code" />
		<result property="b_name" column="b_name" />
		<result property="b_author" column="b_author" />
		<result property="b_comp" column="b_comp" />
		<result property="b_year" column="b_year"/>
		<result property="b_iprice" column="b_iprice" />
		
		<collection property="bookReportList"
					ofType="bookReportDTO"
					column="b_code"
					select="getBookReport"/>
	</resultMap>
	
</mapper>